.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board__row {
  display: flex;
}

.game__board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reset_button {
  margin-top: 15px;
  margin-bottom: 16px;
  width: 80px;
  height: 40px;
  background-color: #8acaca;
  color: white;
  font-size: 16px;
}
.boardStyle {
  background-color: '#eee';
  width: 208px;
  align-items: 'center';
  justify-content: 'center';
  display: 'flex';
  flex-direction: 'column';
  border: 3px #eee solid;
}

.instruction__text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}
